.board-container {
    position: relative;
    width: 420px;
    height: 360px;
    margin-top: 20px;
  }
  
  .column-select {
    display: flex;
    justify-content: space-between;
    width: 420px;
  }
  
  .column-select button {
    width: 60px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .disc-layer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    z-index: 1;
  }
  
  .disc {
    position: absolute;
    width: 60px;
    height: 60px;
    pointer-events: none;
  }
  
  .drop {
    animation: fall  0.4s ease-out forwards;
    transform: translateY(-150px); /* Start ganz oben */
    opacity: 0;
  }
  
  @keyframes fall {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }
    75% {
        transform: translateY(var(--targetY, 0px));
        opacity: 1;
    }
    82% {
        transform: translateY(calc(var(--targetY, 0px) - 15px));
        opacity: 1;
    }
    100% {
        transform: translateY(var(--targetY, 0px));
        opacity: 1;
    }
  }
   
  .board-foreground {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }
  